#menu
{
	position: fixed;
	width: 100%;
	height: 80px;
	background: #ff9f28;
	top: 0;
}


.logo{
	float: left;
}

.items{
	float: left;
	color: aliceblue;
	text-decoration-color: aliceblue;
	margin-left: 40px;
	font-family: Arial;
	font-size: 30px;
}

.hobbies{
	text-align: center;
	text-indent: -5px;
}
ul{
	list-style-type: none;
}


a{
	color: aliceblue;
	text-decoration: none;
}
a:hover{
	color: blueviolet;
}

.section{
	text-align: center;
}

input[type=text], select, textarea {
	width: 40%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}